  <h1>User info(users/show.html)</h1>
  <%= image_tag user.profile_image, size: "100x100" %>
  
  <div>
    <p>name</p>
    <p><%= user.name %></p>
  </div>

  <div>
    <p>introduction</p>
    <p><%= user.introduction %></p>
  </div>

  <div>
    <% if user.id == current_user.id %>
      <%= link_to "edit", edit_user_path %>
    <% end %>
  </div>