<div class="flash-message">
  <%= flash[:notice] %>
</div>

<div class="user-info">
  <%= render 'user-info', user: @user %>
</div>

<div class="new-book">
  <%= render 'new-book', book: @book %>
</div>