<p>users/show</p>
<!--左部分-->
<h2>User info</h2>
<%= render 'user', user: @user %>

<h2>New book</h2>


<!--右部分-->
<h2>投稿一覧</h2>

<% @user.books.each do |book| %>
  <div class="book">
    <h3><%= book.title %></h3>
    <p><%= book.body %></p>
    <%= link_to "詳細", book_path(book) %>
  </div>
<% end %>