<p>books/show</p>
<!--左部分-->
<!--ユーザー表示機能-->
<h2>User info</h2>
<%= render 'users/user', user: @book.user %>

<!--新規投稿機能-->
<h2>New book</h2>
<%= render 'new', book: @book_new %>

<!--右部分-->
<div class="book">
  <h2><%= @book.title %></h2>
  <p><%= @book.body %></p>
</div>
