<div class="container">

  <div class="row">
    <div class="mx-auto col-11 col-xl-6 col-lg-6 col-sm-8 col-xs-10">
      <h1 class="welcome-text">welcome to <i class="fa-solid fa-book" style="color: #000;"></i><b>Bookers</b> !</h1>
    </div>
  </div>

</div>