@use '~bootstrap/scss/bootstrap';

.container{
  background-color: #ffffe0;
}
.user-info{
  background-color: #e6e6fa;
}
.info-table{
  background-color: #b0c4de;
}
.new-book{
  background-color: #f5deb3;
}
.book-index{
  background-color: #d2b48c;
}
.user-index{
  background-color: #db7093;
}
.book-detail{
  background-color: #db7093;
}


// Header
.nav-bar-brand {
  font-size: 20px;
  font-weight: 400;
  color: white;
}
.nav-bar-brand:link, .nav-bar-brand:visited, .nav-bar-brand:hover, .nav-bar-brand:active {
  color: white;
  text-decoration: none;
}
.navbar-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255,1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}
.navbar-light .navbar-toggler {
  border-color: #fff;
  }
.nav-box {
  width: 100%;
  margin-right: 10%;
  margin-left: 10%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}



// Body
// .container{
//   width: 70%;
//   margin: 0 auto;
//   margin-top: 10px;
//   margin-bottm: 50px;
// }
.btn-box {
  text-align: center;
}
.btn {
  width: 90%;
  color: white;
  text-align: center;
  font-size: 14px;
  transition: 0.5s;
}
.log-in {
  background-color: #17a2b8;
  margin-bottom: 16px;
}
.log-in:hover {
  background-color: #217582;
  color: white;
}
.sign-up {
  background-color: #28a745;
}
.sign-up:hover {
  background-color: #287a3b;
  color: white;
}
.welcome-text {
  text-align: center;
}

.table {
    width: 100%;
}



// Footer
footer {
  margin: 0 auto;
  text-align: center;
}